@import "_normalize.scss";
@import "_fonts.scss";
@import "_variables.scss";

html{
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
}

nav {


	ul {
		list-style: none;
		display: block;
		margin: 0 auto;

			li {
			margin-top: 15px;
			float: left;
			padding-left: 21px;

				&:nth-of-type(2),
				&:nth-of-type(3),
				&:nth-of-type(4){
					padding-top: 2.5%;
				}
				
					a {
					font-family: 'edmondsansmedium';
					color: $cream;
					text-decoration: none;
					font-size: 1.5em;
					-webkit-transition: all 0.3s ease-in-out;
					-moz-transition: all 0.3s ease-in-out;
					-ms-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
					&:hover {
						color: rgb(118,114,117);
						fill: gb(118,114,117);
						}

					img {
						width: 65%;
					    }
				
					  }

		        }

	

		}
	}

nav {
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 15%;
	background: black;
	opacity: .7;
	z-index: 3;
	padding-bottom: 1%;
}


.slide { 
	width: 100%;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat:no-repeat;

}

.marginreset {
	margin: 0 auto;
	text-align: center;
}


.home{

	background-image:url('../img/butcher3.jpg');
	color: #fff;
	margin: 0;
	text-align: center;	

	
		.logocontain {
		width: 100%;
		height: 100%;
		text-align: center;
			&:before {
				display:inline-block;
				content: "";
				height: 100%;
				width: 0px;
				vertical-align: middle;
			}
		
		.logo {
			display: inline-block;
			background:url('../img/logo.svg') 50% 0 no-repeat;
			vertical-align: middle;
			width: 50%;
			height: 50%;
			margin: 0 auto; 
			position: relative; 

			}
		}
}


.menu {
	background-image:url('../img/menu.jpg');
	margin: 0;
	font-family: 'edmondsansmedium';
	color: black;
		
	.menuwrap {
		width: 80%;
		padding: 0 10%;

		.stein {
			display: inline-block;
			text-align: center;
			float: left;
			width: 25%;
			padding-top: 2%;
			 

				img {
					width: 25%;
					display: inline-block;
					padding-bottom:  6.5%;
				}
				
				.steinwrap {
					border: 2px solid black;

					h2,
					ul {
						text-align: left;
						padding-left: 5%;
						
					}

					ul {
						line-height: 2em;
						list-style: none;
					}

					h2 {
						text-align: left;
						margin-top: 0;
						padding: 5%;
						background: $fadedblk;
					}
			    }
		}

		.wurst {
			text-align: center;
			display: inline-block;
			width: 70%;
			padding-top: 2%;
			float: right;

				img {
					width: 20%;
					padding-bottom: 3%;
				}
				
				.wurstwrap {
					border: 2px solid black;

					h2 {
						text-align: left;
						background: $fadedblk;
						margin-top: 0;
						padding: 2%;
					}
					
					.menucolumn {
						width: 50%;
						float: left;
						h2, 
						h4, p {
							text-align: left;
							padding-left: 0;
						}
					}
				}
		}
	}

}

.story {
	background-image: url('../img/story.jpg');
	color: $cream;

	
}

.contact {
	background-image:url('../img/map-bg.jpg');
	opacity: .7;
	

	
	.mapcontainer {
		width: 100%;
		height: 100%;
		text-align: center;
			&:before {
				display:inline-block;
				content: "";
				height: 100%;
				width: 0px;
				vertical-align: middle;
			}
		
		.maplogo {
			display: inline-block;
			background:url('../img/logo.svg') 50% 0 no-repeat;
			vertical-align: middle;
			width: 20%;
			height: 20%;
			margin: 0 auto; 
			position: relative; 

			}
		}
   
}

.clearfix:after {
		     visibility: hidden;
		     display: block;
		     font-size: 0;
		     content: " ";
		     clear: both;
		     height: 0;
		     }