@import "_normalize.scss";

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.center { 
	margin: 0 auto; 
}
.content{ 
	margin: 0 auto; width: 960px; 
}
.clear { 
	clear: both; 
}

header {
	width: 100%;
	background: rgba(0,0,0,.3);
	height: 80px;
	position: fixed;
	margin-top: 30px;
}

nav {

	width: 30%;
	float: right;
	margin-top: 20px;

	.logo {
		float: left;
		text-decoration: none;

		a {
			font-size: 4em;
		}
	}

	ul {
		list-style: none;
		display: block;
		margin: 0 auto;
	}

	li {
		margin-top: 9px;
		float: left;
		padding-left: 21px;
	}

	a {
		color: #fff;
		text-decoration: none;
		font-family: helvetica;
		font-size: 1.5em;
		&:active {

		}
	}
}

#slide1, 
#slide2 { 
	width: 100%; 
}

#slide1{
	background:url('../img/butcher.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
}

#slide2{
	background:url('../img/paper.jpg');
	color: #333333;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
}
