@import "_normalize.scss";
@import "_fonts.scss";
@import "_variables.scss";

html{
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
}

nav {
	
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 15%;
	background: black;
	opacity: .7;
	z-index: 3;
	padding-bottom: 1.5%;

	ul {
		list-style: none;
		display: block;
		margin: 0 auto;
		padding: 0 2.5%;

			li {
			margin-top: 15px;
			float: left;
			padding: 0 21px;

				&:nth-of-type(2),
				&:nth-of-type(3),
				&:nth-of-type(4){
					padding-top: 2.5%;
				}

				
					a {
					font-family: 'edmondsansmedium';
					color: $cream;
					text-decoration: none;
					font-size: 1.5em;
					-webkit-transition: all 0.3s ease-in-out;
					-moz-transition: all 0.3s ease-in-out;
					-ms-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
					&:hover {
						color: rgb(118,114,117);
						fill: gb(118,114,117);
						}

					img {
						width: 65%;
					    }
				
					  }

				&:nth-child(n+5){
					float: right;
					
					

					a {
						img {
							width: 100%;
						}
					}

				}

				&:nth-child(5){
					padding-top: 2.70%;
				}
				
				&:nth-child(n+6){
					padding-top: 1.75%;
				}


		        }

	

		}
	}


.slide { 
	width: 100%;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat:no-repeat;

}

.marginreset {
	margin: 0 auto;
	text-align: center;
}


.home{

	background-image:url('../img/butcher3.jpg');
	color: #fff;
	margin: 0;
	text-align: center;	

	
		.logocontain {
		width: 100%;
		height: 100%;
		text-align: center;
			&:before {
				display:inline-block;
				content: "";
				height: 100%;
				width: 0px;
				vertical-align: middle;
			}
		
		.logo {
			display: inline-block;
			background:url('../img/logo.svg') 50% 0 no-repeat;
			vertical-align: middle;
			width: 50%;
			height: 50%;
			margin: 0 auto; 
			position: relative; 

			}
		}
}


.menu {
	background-image:url('../img/menu.jpg');
	margin: 0;
	font-family: 'edmondsansmedium';
	color: black;
		
	.menuwrap {
		width: 80%;
		padding: 0 10%;

		.stein {
			display: inline-block;
			text-align: center;
			float: right;
			width: 25%;
			padding-top: 2%;
			 

				img {
					width: 15%;
					display: inline-block;
					padding-right: 3%;
				}
				
				.steinwrap {
					border: 2px solid black;
					

					h2,
					h5 {
						text-align: center;
					}

					h1 {
						margin: 0;
						padding: 2%;
						border-bottom: 1px solid black;
					}

					h5 {
						margin: .5rem 0 .5rem 0;
					}
			    }
		}

		.wurst {
			text-align: center;
			display: inline-block;
			float: left;
			width: 70%;
			padding-top: 2%;
			

				img {
					width: 10%;
					padding-right: 3%;
				}
				
				.wurstwrap {
					border: 2px solid black;
					

					h1 {
						border-bottom: 1px solid black;
						margin-top: 0;
						padding: 2%;
						
						
					}

					.column1 {
						padding-left: 10%;
						clear: both;
						float: left;
					}
					
					.menucolumn {
						width: 45%;
						float: left;
						h3, 
						h4, h5, h6,
						p {
							text-align: left;
							padding-left: 0;
							margin: .9rem 0 .9rem 0;
						}

						p {
							width: 80%;
						}
					}
				}
		}

	.pig {
		width: 25%;
		float: right;
		padding: 3% 0;
	}	

	.tagline {
		float: right;
		margin: 0;
		padding-right: 4%;
	}
		
	}

}

.story {
	background-image: url('../img/story2.jpg');
	color: $cream;
	text-align: center;
	.storywrap{
		width: 60%;
		margin: 0 auto;
		padding-top: 5%;
		line-height: 3rem;
		img {
			padding-top: 1%;
			width: 10%;

		}

	}
	
}

.contact {
	background-image:url('../img/map-bg.jpg');
	opacity: .7;
	

	
	.mapcontainer {
		width: 100%;
		height: 100%;
		text-align: center;
			&:before {
				display:inline-block;
				content: "";
				height: 100%;
				width: 0px;
				vertical-align: middle;
			}
		
		.maplogo {
			display: inline-block;
			background:url('../img/logo.svg') 50% 0 no-repeat;
			vertical-align: middle;
			width: 20%;
			height: 20%;
			margin: 0 auto; 
			position: relative; 

			}
		}
   
}

.clearfix:after {
		     visibility: hidden;
		     display: block;
		     font-size: 0;
		     content: " ";
		     clear: both;
		     height: 0;
		     }